{% extends 'layout.html' %}
{% block body_content %}
    <br>
    <br>
    You have completed {{ totals['total_completed'] }} out of {{ totals['total'] }} todos.

    {% if totals['total'] == 0 %}
       
        <h3>Add some todos</h3>
    
    {% elif totals['total_completed'] == totals['total'] %}

        <h3>Good Job!</h3>
    
    {% elif totals['total_completed'] <= totals['total'] - 3 %}

        <h3>You're falling behind!</h3>

    {% endif %}

    <div>
        <form action="{{ url_for('index') }}" method='POST'>
            {{ form.order_with }}
            {{ form.submit }}
        </form>
        {% for todo in todos %}

            {{ todo.task }}
            {% if todo.complete == True %}
                &#9989
                <form action='{{ url_for('incomplete', id=todo.id) }}'>
                <input type=submit value="InComplete">
                </form>
            {% else %}
                <form action='{{ url_for('complete', id=todo.id) }}'>
                <input type=submit value="Complete">
                </form>
            {% endif %}
            <form action='{{ url_for('update', id=todo.id) }}'>
            <input type=submit value="Change">
            </form>
            <form action='{{ url_for('delete', id=todo.id) }}'>
            <input type=submit value="Delete">
            </form>
            <br>

        {% endfor %}
    <div>
{% endblock body_content %}
